<!DOCTYPE html>
<html lang="en">
<head>
    <!-- browser -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- SEO -->
    <meta name="author" content="Barbershop">
    <meta name="description" content="Hairstyle Reflects The Personality Inside You">
    <!-- title -->
    <title>Barbershop</title>
    <!-- style -->
    <link rel="stylesheet" href="">
    <!-- base link -->
    <base target="_blank">
</head>
<body>
<!-- preloader -->
<div id="preloader"></div>
<!-- header -->
<header class="header">
    <nav class="nav">
        <ul class="ul">
            <li class="li"></li>
        </ul>
    </nav>
</header>

<!-- footer -->
<footer class="footer"></footer>
<!-- script -->
<script src=""></script>
</body>
</html>
